*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-cont{
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
}
.img-cont img{
    height: 100%;
    width: 100%;
    object-fit:fill;
    object-position: center;
    opacity: .5;
}
#add-task-container {
    width: 350px;
    padding: 20px 10px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 5px;
    display: flex;
    margin-bottom: 20px;
}
input{
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;

}
#add-task{
    flex: 1;
    transition: .3s;

    font-size: 1.2rem;
    padding: 5px;

    background-color: white;
    color: green;

    border:  2px solid green;
    border-radius: 10px;
    cursor: pointer;

}
#add-task:hover{
    background-color: green;
    color: white;
}

.task{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    padding: 5px;

    display: flex;
    margin-bottom: 5px;

    justify-content: space-between;

}
.task li{
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;

}
.task button{
    flex: 1;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    
}
.task .checkTask {
    color: orange;
    margin-right: 5px;
    border: 2px solid orange;
    font-size: 1.5rem;

}
.task .checkTask:hover{
    background-color: orange;
    color: white;
}
.task .deleteTask{
    color: red;
    border: 2px solid red;
    font-size: 1.3rem;
}
.task .deleteTask:hover{
    background-color: orange;
    color: white;
}