*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    max-height: 100vh;
    height: 100%;
}
.img-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}