/* * {
    padding: 0;
    box-sizing: 0;
    margin: 0cm; */

.container {
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300, 400, 600;
    
}
.card {
    background-color: hsl(216, 50%, 16%);
    height: 70%;
    width: 340px;
    border-radius: 12px;
    display: flex;
    padding: 25px;
    flex-direction: column;
}
.img-cont{
    height: 50%;
    display: flex;
    width: 100%;
    border-radius: 10px;
}
.img-cont img {
    height: 100%;
    border-radius: 10px;
    width: 100%;
    

}
.card h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 300, 400, 600;
    font-family: "Outfit", sans-serif;
    font-weight: lighter;
    
}
.card p {
    color: hsl(215, 51%, 70%);
    margin-top: 2px;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    line-height: 30px;
    font-weight: lighter;
    margin-bottom: 8px;
    
    
}
.card .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 5%;
    
}
.card .items .pic {
    color: hsl(178, 100%, 50%);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}
.card .items .pic img {
    height: 20px;
}
.card .items .pic h3{
    font-weight: 550;
}

.card .items .right {
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    height: 5%;
}
.card .items .right img {
    height: 20px;
}
.card .items .right h3{
    font-weight: 500;
}

hr {
    color:hsl(215, 51%, 70%);
    width: 100%;
    margin: 1rem 0;
    border: none;
    border-top: 1px solid hsl(215, 32%, 27%); /* subtle light line */

}
.card .profile {
    display: flex;
    gap: 0.4rem;
    width: 100%;
    margin-top: 0;
    height: 12%;
    align-items: center;
}
.profile img {
    height: 100%;
    margin-right: 10px;
}
.profile .p2 {
    color: hsl(0, 0%, 100%);
    justify-content: center;

}