/* * {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
} */
.container {
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.card {
    display: flex;
    background-color: hsl(216, 50%, 16%);
    width: 25%;
    border-radius: 12px;
    flex-direction: column;
    padding: 25px;
    height: auto;
}
.card .img-cont{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.img-cont img {
    border-radius: 10px;
    width: 100%;
    height: 250px;
    

}
.card h2 {
    color: hsl(0, 0%, 100%);
    font-family: "Outfit", sans-serif;
    font-weight: lighter;
    margin-top: 10px;
    
}
.card p {
    color: hsl(215, 51%, 70%);
    margin-top: 2px;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    line-height: 25px;
    font-weight: lighter;
    margin-bottom: 5px;
    
    
}
.card .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    
}
.card .items .pic {
    color: hsl(178, 100%, 50%);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}
.card .items .pic img {
    height: 20px;
}
.card .items .pic h3{
    font-weight: 550;
}

.card .items .right {
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    height: 5%;
}
.card .items .right img {
    height: 20px;
}
.card .items .right h3{
    font-weight: 500;
}

hr {
    color:hsl(215, 51%, 70%);
    width: 100%;
    margin: 1rem 0;
    border: none;
    border-top: 1px solid hsl(215, 32%, 27%); /* subtle light line */

}
.card .profile {
    display: flex;
    gap: 0.4rem;
    width: 100%;
    margin-top: 0;
    align-items: center;
}
.profile img {
    height: 50px;
    margin-right: 10px;
}
.profile .p2 {
    color: hsl(0, 0%, 100%);
    justify-content: center;

}
@media (min-width: 320px) {
    .container {
        padding: 40px;
    }
    .container .card {
        min-width: 200px;
    }
    
    .card p {
        font-size: 10px;
        margin-inline: 0;
        line-height: 1rem;
    }
    .card h2, h3 {
        font-size: 14px;
    }
}
@media (min-width:1024px) {
    .card {
        max-width: 400px;
        
    }
    .card h2, h3 {
        font-size: 16px;
    }
    .card p {
        font-size: 14px;
        line-height: 25px;
    }
}