.stuff {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  align-items: center;       
  font-family: Arial, sans-serif;
  width: 100%;
  background-color:rgb(227, 227, 255);
  gap: 10px;
  
}

.stuff > * {
  width: 50vw;               
  max-width: 900px; 
  
}
.stuff > *:hover {
  transform: scale(1.01);
  transition: 0.8s;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;
  margin-top: 10px;

}

form input[type="text"] {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 16px;
}

form label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15.5px;
  padding: 5px;

}
input[type="checkbox"] {
  transform: scale(1.5);
}


table {
  width: 100%;                 
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 2px 8px 10px rgba(14, 36, 233, 0.15);
  margin-bottom: 20px;
}


thead th {
  background: rgb(142, 142, 236);
  color: white;
  padding: 10px 15px;
  text-align: left;
  font-size: 18px;
}
.table-wrapper {
  max-height: 80vh;     
  overflow-y: auto;    
  border-radius: 8px;
}

.table-wrapper::-webkit-scrollbar {
  width: 5px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(142, 142, 236);
  border-radius: 6px;
}


td, th {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  font-size: 15px;

}


tr th[colspan="2"] {
  background: #f7f7f7;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}


tbody tr:last-child td {
  border-bottom: none;
}
